<hr />
@{
    ViewBag.Title = "Tietoa yrityksestämme";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Tähän jotain informaatiota.</p>

<div>
    @Html.ActionLink("Etusivulle", "Index")
</div>