@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>TILAUSSOVELLUS</h1>
    <p class="lead">Tässä palautettava tehtävä.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Kirjaudu &raquo;</a></p>
</div>

@*<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img style="height: 200px; width:100%; display:block;" src="@prod.ImageLink" alt="@prod.ImageLink">
        </div>
        <div class="carousel-item">
            <img src="..." class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="..." class="d-block w-100" alt="...">
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </a>
</div>*@

<div class="row">
    <div class="col-md-4">
        <h2>Tutustu</h2>
        <p>
            Tässä tietoa yrityksestä!
        </p>
        <p><a class="btn btn-default" href="/Home/About">Tutustu paremmin &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Yhteystiedot</h2>
        <p>Tässä yhteystietomme!</p>
        <p><a class="btn btn-default" href="/Home/Contact">Tsekkaa täältä &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Tuotteet</h2>
        <p>Täältä löydät tuotteemme!</p>
        <p><a class="btn btn-info" @Html.ActionLink("Tsekkaa täältä»", "Index", "Tuotteet")</a></p>

    </div>
</div>